body {
    margin: 0;
    padding: 0;
    background-color: #f2f1ef  ;
    font-family: 'Jomolhari', serif;
  }
                                                            /* block1 start */
.logo-and-name{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    font-family: 'Jim Nightshade', cursive;
}

.name{
    font-size: 64px;
    display: flex;
    align-items: center;
}

.header{
    min-width: 1000px;
    height: 145px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 0 6%;
    /* margin: 0 30px; */
    background-color: #F0D9CE ;
    align-items: center;
}

.header-button{
    font-size: 36px;
    color: #313131;
}
                                                        /* block1 end */
                                                        /* block2 start */
.phone_size_1{
    display: none;
}

.Block_2_customer_choise p{
    color: #313131;
    font-size: 36px;
}

.Block_2_customer_choise h1{
    color: #313131;
    font-size: 48px;
}

.Block_2_customer_choise{
    height: 715px;
    /* max-width: 1440px;*/
    object-fit: cover;
    color: #313131;
    display: flex;
    flex-direction: row; 
    padding: 0 0 0 60px;
    overflow: hidden
}
.Block_2_customer_choise_sub{
    padding: 0 0 10% 0;
    display: flex;
    flex-direction: column;
    
    justify-content:center
}
                                                        /* block2 end */
                                                        /* block3 start */
.Block_3_section_choice{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    overflow: hidden
}
.IMG_button{
    position: relative;
    display: inline-block;
}

.button_text{
    background-color: #F0D9CEE6 ;
    height: 78px;
    width: 245px;
    font-size:36px ;
    border-radius: 25px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                        /* block3 end */
                                                        /* block4 start */
.phone_size_2{
    display: none;
}

.Block_4_about_us h1{
    font-size: 64px;
}

.Block_4_about_us div p{
    font-size: 32px;
    color: #313131;
}

.Block_4_about_us{
    margin:  70px 0 0 10%;
    display: flex;
    flex-direction: row;
}
                                                        /* block4 end */
                                                        /* block5 start */

.Block_5_work_for_you{
    background-color: #F0D9CE ;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.Block_5_work_for_you_Grid{
    
    width: 100%;
    display: flex;
    justify-items: center;
    display: grid;
    font-size: 24px;
    grid-template-columns: 25% 25% 25% 25%; 
    gap: 10px; 
}

.Block_5_work_for_you_Grid div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.Block_5_work_for_you_H1{
    width: 100%;
    font-size: 32px;
    margin:  35px 0 15px 10%;
}

                                                        /* block5 end */
                                                        /* block6 start */
.Block_6_catalog{
    background-color: #f2f1ef ;
    width: 100%;
    height: 100%;
}

.Block_6_catalog h1{
    margin:  35px 0 30px 12%;
    font-size: 64px;
}

.Block_6_catalog_Grid_El{
    font-size: 36px;
    text-align: center;
    width: 364px;
    background-color: #F0D9CE ; 
    box-shadow: 0px 0px 25px #FB9696cc; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Block_6_catalog_Grid{
    margin:  35px 0 30px 10%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    gap: 5%; 
    
}

.desription{
    height: 100px;
    align-content: center;
    color: #313131;
}

.price{
    justify-self: end;
    color: #313131;
}
                                                                /* block6 end */
                                                                /* block7 start */
.Block_7_comments{
    margin-top: 150px;
    background-color: #f1e4dd;
}

.Block_7_comments h1{
    margin:  35px 0 15px 10%;
    font-size: 64px;
}

.Block_7_comments_element{
    box-shadow: 0px 0px 25px #000000 ; 
    width: 70%;
    margin-left: 10%;
    background-color: #f2f1ef;
    display: flex;
    flex-direction: row;
    gap: 5%; 
    padding: 30px 0 0 70px;
    display: flex;
    flex-wrap: wrap;
}

.name2{
    font-size: 64px ;
    color: #AD8D7D;
    margin-top: 0px;
    width: 80%;
}

.coment{
    margin-top: 0px;
    font-size: 32px;
    width: 100%;
}

.Block_7_comments h2{
    margin:  200px 0 15px 10%;
    font-size: 64px;
}

.texbox1{
    color: #9f9e9d;
    background-color: #f2f1ef;
    font-size: 36px;
    height: 115px;
    width: 70%;
    margin:  20px 0 45px 10%;
    padding: 30px; 
}

.texbox2{
    color: #9f9e9d;
    background-color: #f2f1ef;
    font-size: 36px;
    height: 341px;
    width: 70%;
    margin:  10px 0 0 10%;
    padding: 30px; 
}

.sent_button{
    margin:  65px 0 0 10%;
    background-color: #d2e0f6;
    box-shadow: -5px 5px 25px #000000;
    font-size: 36px;
    color: #313131;
    width: 245px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
}
                                                                        /* block7 end */
                                                                        /* block8 start */
.page_end{
    background-color: #eed7cc;
    display: flex;
    flex-direction: row;
}

.page_end_first_half{
    width: 33%;
    margin: 37px 91px 43px 98px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.page_end_Grid{
    margin-right: 5%;
    display: grid;
    width: 65%;
    grid-template-columns: 30% 30% 30%; 
    gap: 5%; 
    color: #31313199;
    font-size: 24px;
}

.contacts_info_catalog{
    color: #000000;
    font-size: 36px;
}

.copiright{
    font-size: 24px;
}

.name3{
    margin-left: 10px ;
    width: 50%;
    font-size: 70px;
    font-family: 'Jim Nightshade', cursive;
}

.page_end_Grid_element{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-self: center;
    text-align: center;
}

.page_end_Grid_element p{
    padding: 0%;
    margin: 0%;
    border: #000000;
}
                                                                                        /* colors and fonts */

.phone_size_3{
    display: none;
}

.colors_and_fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fonts{
    background-color: #eed7cc;
    width: 40%;
    height: 451px;
    font-size: 96px;
    padding: 20px 0 10px 46px;
}

.fonts p{
    padding: 0%;
    margin: 0 0 30px 0;
}

.Jim_Nightshade{
    font-family: 'Jim Nightshade', cursive;
}

.colors_and_fonts img{
    position: relative;
    right: 3px;   
    left: 15%;    
    width: 547px;    
    height: 677px;
    z-index: 10;     /* позиція над елементами */
}

.colors_and_fonts h1{
    margin: 83px 0 62px 96px;
    font-size: 64px;
    width: 100%;
}

.sent_button2{
    position: relative;
    top: -150px;
    left: 900px;
    z-index: 10; 

    background-color: #f0d9ce;
    box-shadow: -5px 5px 25px #000000;
    font-size: 36px;
    color: #313131;
    width: 245px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}
                                                                                /* block8 end */
                                                                                /* налаштування для екрану мобільного за макетом figma: */

@media (max-width:320px){
    /* body {
        margin: 0;
        padding: 0;
        background-color: #f2f1ef  ;
        background-color: yellowgreen;
    } */
                                                                                /* b1 strart */
    .name{
        font-size: 20px;
    }
    
    .header{
        min-width: 100px;
        height: 54px;
    }

    .header img{
        width: 33px;
        height: 33px;
    }

    .header-button{
        font-size: 11px;
    }
                                                                            /* b1 end */
                                                                            /* b2 strart */
    .original_size_1{
        display: none;
    }

    .phone_size_1{
        display: block;
    }

    .Block_2_customer_choise p{
        font-size: 15px;
    }
    
    .Block_2_customer_choise h1{
        font-size: 24px;
    }
    
    .Block_2_customer_choise{
        height: 293px;
        padding: 0 0 0 5%;
        overflow: hidden
    }
    .Block_2_customer_choise_sub{
        padding: 0 0 10% 0;
    }
                                                                            /* b2 end */
                                                                            /* b3 strart */
    .button_text{
        height: 17px;
        width: 61px;
        font-size:13px ;
        position: absolute;
        top: 60%;
        left: 50%;
        }

    .IMG_button img{
        width: 105px;
        height: 74px;
    }
                                                                            /* b3 end */
                                                                            /* b4 strart */
    .Block_4_about_us h1{
    font-size: 20px;
    }

    .Block_4_about_us div p{
    font-size: 11px;
    }

    .Block_4_about_us{
    margin:  5% 0 0 8%;
    display: flex;
    flex-wrap: wrap;
    }

    .Block_4_about_us img{
        margin-left: 8%;
        width: 181px;
        height: 121px ;
    }

    .Block_4_about_us div{
        width: 30%;
    }

    .phone_size_2{
        display:block;
        font-size: 11px;
        width: 100%;
        color: #313131;
    }

    .original_size_2{
        display: none;
    }
                                                                            /* b4 end */
                                                                            /* b5 strart */
    .Block_5_work_for_you{
        gap: 3px;
    }
    
    .Block_5_work_for_you_Grid{
        width: 100%;
        display: flex;
        justify-items: center;
        display: grid;
        font-size: 8px;
        grid-template-columns: 25% 25% 25% 25%; 
        gap: 3px; 
    }
    
    .Block_5_work_for_you_H1{
        width: 100%;
        font-size: 14px;
        margin:  3% 0 5% 10%;
    }     
    
    .Block_5_work_for_you img{
        width: 28px;
        height: 28px;
    }

    .Block_5_work_for_you p{
        width: 50px;
        text-align: center;
    }
                                                                            /* b5 end */
                                                                            /* b6 strart */
    .Block_6_catalog h1{
        margin:  3% 0 5% 10%;
        font-size: 16px;
    }

    .Block_6_catalog_Grid_El{
        font-size: 7px;
        width: 76px;
    }

    .Block_6_catalog_Grid{
        margin:  5% 0 5% 20%;
        height: 100%;   
        grid-template-columns: 40% 40%; 
        gap: 10%;
    }

    .desription{
        height: 33px;
    }

    .Block_6_catalog_Grid img{
        width: 76px; ;
        height: 99px;
    }
                                                                            /* b6 end */
                                                                            /* b7 strart */
    .Block_7_comments img{
        width: 24px;
        height: 24px;
    }   

    .Block_7_comments{
        margin-top: 150px;
    }
    
    .Block_7_comments h1{
        margin:  3% 0 5% 10%;
        font-size: 16px;
    }
    
    .Block_7_comments_element{
        padding: 5% 0 0 3%;
        box-shadow: 0px 0px 25px #00000099 ; 
    }
    
    .name2{
        font-size: 16px ;
    }
    
    .coment{
        font-size: 10px;
    }
    
    .Block_7_comments h2{
        margin:  15% 0 0% 10%;
        font-size: 16px;
    }
    
    .texbox1{
        font-size: 16px;
        height: 42px;
        width: 70%;
        margin:  5% 0 5% 10%;
        padding: 3%; 
    }
    
    .texbox2{
        font-size: 16px;
        height: 129px;
        width: 70%;
        margin:  10px 0 0 10%;
        padding: 3%; 
    }
    
    .sent_button{
        margin:  10% 0 0 10%;
        font-size: 7px;
        width: 54px;
        height: 21px;
        margin-bottom: 35px;
        box-shadow: -5px 5px 15px #00000099;
    }         
                                                                            /* b7 end */
                                                                            /* b8 strart */
    .end_logo{
        width: 19px;
        height: 19px ;
    }

    .page_end_first_half{
        width: 20%;
        margin: 3% 3% 3% 5%;
    }
    
    .page_end_Grid{
        font-size: 10px;
        display: flex;
        align-items: flex-start;
        margin: 5px 0 5px 0;
    }

    .contacts_info_catalog{
        font-size: 12px;
    }
    
    .copiright{
        font-size: 5px;
    }
    
    .name3{
        margin-left: 5px ;
        width: 50%;
        font-size: 12px;
        font-family: 'Jim Nightshade', cursive;
    }
    
    .page_end_Grid_element{
        gap: 4px;
    }
    
    .fonts{
        width: 40%;
        height: 88px;
        font-size: 20px;
        padding: 5px 0 2px 10%;
    }
    
    /* .fonts p{
        padding: 0%;
        margin: 0 0 30px 0;
    } */
    
    .original_size_3{
        display: none;
    }

    .phone_size_3{
        display: block;
    }

    .colors_and_fonts img{
        position: relative;
        right: 3px;   
        left: 5%;    
        width: 140px;    
        height: 132px;
        z-index: 10;   
    }
    
    .colors_and_fonts h1{
        margin: 5% 0 3% 10%;
        font-size: 14px;
        width: 100%;
    }
    
    .sent_button2{
        position: relative;
        top: -15px;
        left: 90px;
        box-shadow: -5px 5px 10px #00000099;
        font-size: 8px;
        width: 54px;
        height: 17px;
    }
}